.chatRoomBox{
    display: flex;
    height: 1200 px;

    padding: 18px 15px;
    border-radius: 2px;
}
.chatRoomBox:hover{
    background-color: green;
}

.textWrapper{
    padding-top: 8px;
    padding-left: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textWrapper .boxTop{
    display: flex;
    margin-right: 10px;
}

.textWrapper .boxTop .timespan{
    float: right;
    vertical-align: middle;
    font-size: 10px;
}

.textWrapper .chatName{
    
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding-left: 0;
}

.textPrev{
    font-size: 10px;
    margin-top: 5px;
}

.chatRoomImg{
    height: 53px;
    width: 55px;
    border-radius: 50%;
    margin-right: 3px;
}