.chat{
    display: flex;
    height: 100vh;
    margin-right: 0 15px;
    overflow: hidden;
}

.chatName{
    display: flex;
    align-items: center;
    justify-content: center;
}

.leftChatBar{
    flex: 2.5;
    background-color: F3F3F3;
}

.openConversation{
    flex: 5.5;
}


.openConversation .conversation{
    margin: 5px 30px;
}

.leftChatBar .chatInputWrapper{
    width: 100%;
    margin-top: 10px;
    display: flex;
    margin: 0 auto;

}

.leftChatBar .chatInputWrapper .chatInput{
    border-radius: 5px;
    padding: 8px 5px;
    width: 100%;
    flex-grow: 1;
    
}

.chatBottom{
    padding: 10px 5px 15px 10px;
    position: fixed;
    bottom: 0;
}

.chatBottom input{
    width: 100%;
    border-radius: 5px;

}

